[submodule "asi-http-request"]
	path = asi-http-request
	url = git@github.com:jkubicek/asi-http-request.git
[submodule "nsdate-helper"]
	path = nsdate-helper
	url = git@github.com:jkubicek/nsdate-helper.git
[submodule "NSString_Digest"]
	path = NSString_Digest
	url = git@github.com:jkubicek/NSString_Digest.git
[submodule "json-framework"]
	path = json-framework
	url = git@github.com:jkubicek/json-framework.git
[submodule "DDAlertPrompt"]
	path = DDAlertPrompt
	url = git@github.com:jkubicek/DDAlertPrompt.git
[submodule "TDBadgedCell"]
	path = TDBadgedCell
	url = git@github.com:jkubicek/TDBadgedCell.git
