[submodule "asi-http-request"]
	path = asi-http-request
	url = git@github.com:jkubicek/asi-http-request.git
[submodule "nsdate-helper"]
	path = nsdate-helper
	url = https://github.com/billymeltdown/nsdate-helper.git
