<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PostID</key>
		<integer>1109</integer>
		<key>ThreadID</key>
		<integer>1109</integer>
		<key>PostLevel</key>
		<integer>1</integer>
		<key>MemberID</key>
		<integer>137</integer>
		<key>PosterName</key>
		<string>Antonio de la Serpico</string>
		<key>Subject</key>
		<string>hrm, this sure smells like change</string>
		<key>PostDate</key>
		<date>2009-01-21T17:35:30Z</date>
		<key>Read</key>
		<false/>
	</dict>
</array>
</plist>
