<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PostID</key>
		<integer>1109</integer>
		<key>ThreadID</key>
		<integer>1109</integer>
		<key>PostLevel</key>
		<integer>1</integer>
		<key>MemberID</key>
		<integer>137</integer>
		<key>PosterName</key>
		<string>Antonio de la Serpico</string>
		<key>Subject</key>
		<string>hrm, this sure smells like change</string>
		<key>PostDate</key>
		<date>2009-01-21T17:35:30Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1110</integer>
		<key>ThreadID</key>
		<integer>1109</integer>
		<key>PostLevel</key>
		<integer>2</integer>
		<key>MemberID</key>
		<integer>140</integer>
		<key>PosterName</key>
		<string>McThug</string>
		<key>Subject</key>
		<string>make it a better place</string>
		<key>PostDate</key>
		<date>2009-01-21T17:40:32Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1111</integer>
		<key>ThreadID</key>
		<integer>1109</integer>
		<key>PostLevel</key>
		<integer>3</integer>
		<key>MemberID</key>
		<integer>140</integer>
		<key>PosterName</key>
		<string>McThug</string>
		<key>Subject</key>
		<string>also</string>
		<key>PostDate</key>
		<date>2009-01-21T17:41:28Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1112</integer>
		<key>ThreadID</key>
		<integer>1109</integer>
		<key>PostLevel</key>
		<integer>4</integer>
		<key>MemberID</key>
		<integer>140</integer>
		<key>PosterName</key>
		<string>McThug</string>
		<key>Subject</key>
		<string>one more thing</string>
		<key>PostDate</key>
		<date>2009-01-21T17:44:25Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1116</integer>
		<key>ThreadID</key>
		<integer>1109</integer>
		<key>PostLevel</key>
		<integer>5</integer>
		<key>MemberID</key>
		<integer>137</integer>
		<key>PosterName</key>
		<string>Antonio de la Serpico</string>
		<key>Subject</key>
		<string>that&apos;s their fault</string>
		<key>PostDate</key>
		<date>2009-01-21T19:50:48Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1094</integer>
		<key>ThreadID</key>
		<integer>1094</integer>
		<key>PostLevel</key>
		<integer>1</integer>
		<key>MemberID</key>
		<integer>140</integer>
		<key>PosterName</key>
		<string>McThug</string>
		<key>Subject</key>
		<string>anyone been to a Circuit City recently?</string>
		<key>PostDate</key>
		<date>2009-01-21T16:34:11Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1096</integer>
		<key>ThreadID</key>
		<integer>1094</integer>
		<key>PostLevel</key>
		<integer>2</integer>
		<key>MemberID</key>
		<integer>1426</integer>
		<key>PosterName</key>
		<string>I&apos;ve got an MBA</string>
		<key>Subject</key>
		<string>friend went last night</string>
		<key>PostDate</key>
		<date>2009-01-21T16:40:18Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1098</integer>
		<key>ThreadID</key>
		<integer>1094</integer>
		<key>PostLevel</key>
		<integer>3</integer>
		<key>MemberID</key>
		<integer>140</integer>
		<key>PosterName</key>
		<string>McThug</string>
		<key>Subject</key>
		<string>my spidey sense tells me</string>
		<key>PostDate</key>
		<date>2009-01-21T16:43:18Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1101</integer>
		<key>ThreadID</key>
		<integer>1094</integer>
		<key>PostLevel</key>
		<integer>4</integer>
		<key>MemberID</key>
		<integer>111</integer>
		<key>PosterName</key>
		<string>xd.balls</string>
		<key>Subject</key>
		<string>your spidey senses are tark</string>
		<key>PostDate</key>
		<date>2009-01-21T16:47:20Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1103</integer>
		<key>ThreadID</key>
		<integer>1094</integer>
		<key>PostLevel</key>
		<integer>5</integer>
		<key>MemberID</key>
		<integer>140</integer>
		<key>PosterName</key>
		<string>McThug</string>
		<key>Subject</key>
		<string>are you fucking retarded?</string>
		<key>PostDate</key>
		<date>2009-01-21T16:49:45Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1104</integer>
		<key>ThreadID</key>
		<integer>1094</integer>
		<key>PostLevel</key>
		<integer>6</integer>
		<key>MemberID</key>
		<integer>111</integer>
		<key>PosterName</key>
		<string>xd.balls</string>
		<key>Subject</key>
		<string>no</string>
		<key>PostDate</key>
		<date>2009-01-21T16:52:41Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1114</integer>
		<key>ThreadID</key>
		<integer>1094</integer>
		<key>PostLevel</key>
		<integer>7</integer>
		<key>MemberID</key>
		<integer>136</integer>
		<key>PosterName</key>
		<string>{: (|)</string>
		<key>Subject</key>
		<string>script works pretty good</string>
		<key>PostDate</key>
		<date>2009-01-21T17:55:34Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1106</integer>
		<key>ThreadID</key>
		<integer>1094</integer>
		<key>PostLevel</key>
		<integer>2</integer>
		<key>MemberID</key>
		<integer>148</integer>
		<key>PosterName</key>
		<string>Ron</string>
		<key>Subject</key>
		<string>I went sunday</string>
		<key>PostDate</key>
		<date>2009-01-21T17:06:00Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1107</integer>
		<key>ThreadID</key>
		<integer>1094</integer>
		<key>PostLevel</key>
		<integer>3</integer>
		<key>MemberID</key>
		<integer>140</integer>
		<key>PosterName</key>
		<string>McThug</string>
		<key>Subject</key>
		<string>prolly</string>
		<key>PostDate</key>
		<date>2009-01-21T17:11:17Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1113</integer>
		<key>ThreadID</key>
		<integer>1094</integer>
		<key>PostLevel</key>
		<integer>4</integer>
		<key>MemberID</key>
		<integer>1416</integer>
		<key>PosterName</key>
		<string>Lex</string>
		<key>Subject</key>
		<string>correct</string>
		<key>PostDate</key>
		<date>2009-01-21T17:48:45Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1092</integer>
		<key>ThreadID</key>
		<integer>1092</integer>
		<key>PostLevel</key>
		<integer>1</integer>
		<key>MemberID</key>
		<integer>118</integer>
		<key>PosterName</key>
		<string>Math Major Mike</string>
		<key>Subject</key>
		<string>Welcome to Ken</string>
		<key>PostDate</key>
		<date>2009-01-21T16:18:51Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1093</integer>
		<key>ThreadID</key>
		<integer>1092</integer>
		<key>PostLevel</key>
		<integer>2</integer>
		<key>MemberID</key>
		<integer>140</integer>
		<key>PosterName</key>
		<string>McThug</string>
		<key>Subject</key>
		<string>hello my future students</string>
		<key>PostDate</key>
		<date>2009-01-21T16:21:39Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1080</integer>
		<key>ThreadID</key>
		<integer>1080</integer>
		<key>PostLevel</key>
		<integer>1</integer>
		<key>MemberID</key>
		<integer>118</integer>
		<key>PosterName</key>
		<string>Math Major Mike</string>
		<key>Subject</key>
		<string>thoughtful economic advice for Obama</string>
		<key>PostDate</key>
		<date>2009-01-21T15:43:51Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1081</integer>
		<key>ThreadID</key>
		<integer>1080</integer>
		<key>PostLevel</key>
		<integer>2</integer>
		<key>MemberID</key>
		<integer>140</integer>
		<key>PosterName</key>
		<string>McThug</string>
		<key>Subject</key>
		<string>brilliant!</string>
		<key>PostDate</key>
		<date>2009-01-21T15:48:41Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1086</integer>
		<key>ThreadID</key>
		<integer>1080</integer>
		<key>PostLevel</key>
		<integer>3</integer>
		<key>MemberID</key>
		<integer>1426</integer>
		<key>PosterName</key>
		<string>I&apos;ve got an MBA</string>
		<key>Subject</key>
		<string>was that wilson? (nt)</string>
		<key>PostDate</key>
		<date>2009-01-21T15:57:21Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1090</integer>
		<key>ThreadID</key>
		<integer>1080</integer>
		<key>PostLevel</key>
		<integer>4</integer>
		<key>MemberID</key>
		<integer>140</integer>
		<key>PosterName</key>
		<string>McThug</string>
		<key>Subject</key>
		<string>I think the article also said</string>
		<key>PostDate</key>
		<date>2009-01-21T16:04:51Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1091</integer>
		<key>ThreadID</key>
		<integer>1080</integer>
		<key>PostLevel</key>
		<integer>5</integer>
		<key>MemberID</key>
		<integer>1426</integer>
		<key>PosterName</key>
		<string>I&apos;ve got an MBA</string>
		<key>Subject</key>
		<string>Eighteenth-century agrarian business. (n</string>
		<key>PostDate</key>
		<date>2009-01-21T16:11:25Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1108</integer>
		<key>ThreadID</key>
		<integer>1080</integer>
		<key>PostLevel</key>
		<integer>6</integer>
		<key>MemberID</key>
		<integer>137</integer>
		<key>PosterName</key>
		<string>Antonio de la Serpico</string>
		<key>Subject</key>
		<string>are you at all concerned</string>
		<key>PostDate</key>
		<date>2009-01-21T17:21:18Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1082</integer>
		<key>ThreadID</key>
		<integer>1080</integer>
		<key>PostLevel</key>
		<integer>2</integer>
		<key>MemberID</key>
		<integer>1403</integer>
		<key>PosterName</key>
		<string>I inspire and empower people</string>
		<key>Subject</key>
		<string>Obama fixed the stock market drop</string>
		<key>PostDate</key>
		<date>2009-01-21T15:49:28Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1083</integer>
		<key>ThreadID</key>
		<integer>1080</integer>
		<key>PostLevel</key>
		<integer>2</integer>
		<key>MemberID</key>
		<integer>128</integer>
		<key>PosterName</key>
		<string>Gross</string>
		<key>Subject</key>
		<string>I prefer their thoughts</string>
		<key>PostDate</key>
		<date>2009-01-21T15:50:04Z</date>
		<key>Read</key>
		<false/>
	</dict>
	<dict>
		<key>PostID</key>
		<integer>1079</integer>
		<key>ThreadID</key>
		<integer>1079</integer>
		<key>PostLevel</key>
		<integer>1</integer>
		<key>MemberID</key>
		<integer>111</integer>
		<key>PosterName</key>
		<string>xd.balls</string>
		<key>Subject</key>
		<string>Speaking of Knives</string>
		<key>PostDate</key>
		<date>2009-01-21T15:38:59Z</date>
		<key>Read</key>
		<false/>
	</dict>
</array>
</plist>
