<!DOCTYPE html>
<html>
<head>
<style type="text/css">

body {
	color: white;
	background-color: #394048;
	font-family: sans-serif, Helvetica, Verdana, Arial;
}

</style>
</head>
<body>
<%body_text%>
</body>
</html>